@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');

body {
    background-color: lightgrey;
    font-family: "Roboto", "Arial", sans-serif;
    color: #455a64;
}

h1 {
    font-weight: 400;
    margin-top: 10px;
}

h2 {
    margin-top: 10px;
}

.login-register-title {
    margin-top: 30px;
}

#keyboard {
    position: relative;
    margin: 30px auto;
    width: 960px;
    height: 305px;
}

.white-key {
    position: absolute;
    width: 80px;
    height: 300px;
    border: rgba(32, 32, 32, 0.2) solid 1px;
    border-radius: 0 0 8px 8px;
    background-color: ivory;
    box-shadow: 2px 2px 5px grey;
}

/* .white-key:hover {
    background-color: #ffff88;
    cursor: pointer;
} */

.black-key {
    position: absolute;
    width: 60px;
    height: 150px;
    border-radius: 0 0 8px 8px;
    background-color: #1d262a;
    box-shadow: 2px 2px 5px grey;
}

/* .black-key:hover {
    background-color: #ff8;
    cursor: pointer;
} */

.white-pressed {
    top: 5px;
    height: 300px;
    background-color: #ffa;
    box-shadow: none;
}

.white-pressed-playback {
    top: 5px;
    height: 300px;
    background-color: #eba;
    box-shadow: none;
}

.black-pressed {
    top: 3px;
    height: 150px;
    background-color: #344953;
    box-shadow: none;
}

.black-pressed-playback {
    top: 3px;
    height: 150px;
    background-color: #633;
    box-shadow: none;
}

.key-label {
    position: absolute;
    left: 30px;
    bottom: 10px;
}

/* .key-label:hover {
    color: #333;
} */

.black-key-label {
    left: 15px;
    color: #ddd;
}

.black-key-label-pressed,
.black-key:hover .black-key-label {
    color: #ddd;
}

.button {
    border: rgba(32, 32, 32, 0.2) solid 1px;
    border-radius: 8px;
    background-color: ivory;
    box-shadow: 2px 2px 5px grey;
    margin-top: 10px;
}

.button:hover {
    background-color: #ffffaa;
}

.button:hover .fa-circle {
    color: red;
}

.fa {
    text-align: center;
    color: #1d262a;
}

.fa-circle-o-notch {
    color: red;
}

.fa-spin-fix .fa-spin {
    -webkit-transform-origin: 50% calc(50% - .5px);
    transform-origin: 50% calc(50% - .5px);
}

/* Feed page styles
********************/

#feed-container {
    margin-top: 30px;
}

#feed {
    margin-top: 30px;
    padding: 15px;
    background: white;

    box-shadow: 0px 1px 4px grey;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.melody-title {
    font-size: 1.5em;
}

.post {
    font-size: 1.2em;
}

/* Form styles
***************/

.register-form,
.login-form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-control {
    padding: 20px;
    margin-top: 10px;
}

.message,
.btn {
    margin-top: 10px;
}

a.btn {
    color: #455a64;
}

a.btn:hover {
    color: ivory;
    background-color:  #455a64;
}

.btn-block {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form-error-message {
    color: red;
    padding-top: 10px;
}

.navbar {
    background-color: white;
    box-shadow: 0 0 4px grey;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}