<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MuseMe - Feed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css"/>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
</head>
<body>
<div class="text-center">

    <div class="nav container">
        <div class="col-xs-6 left text-left">
            <h2 class="logo">MuseME</h2>
        </div>
        <div th:if="${username}" class="center text-right">
            <span class="btn" th:text="${username} + ' is logged in'">User Name</span>
            <a th:href="@{/}" class="btn" th:text="Playground">Playground</a>
            <a th:href="@{/logout}" class="btn btn-default" th:text="Logout">Logout</a>
        </div>
    </div>

    <h1>MuseFeed</h1>
    <div id="feed-container">
        <div id="feed" class="text-left" th:each="melody : ${melodies}">
            <span class="melody-title" th:text="'Melody ' + ${melody.id} + ': '"></span>
            <span class="post" th:each="keyEvent : ${melody.melody}">
                <span th:text="${keyEvent.note} + ${keyEvent.octave} + ' '"></span>
            </span>
        </div>
    </div>
</div>
</body>
</html>