<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Simple Synth - JAVA + JS version</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css" />
        <link rel="stylesheet" type="text/css" href="styles/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
        <script src="js/data.js" defer></script>
        <script src="js/app.js" defer></script>
    </head>
    <body>
        <div class="container text-center">
            <h1>Simple Synth</h1>
            <p>Press keys to make some noise</p>
            <div id="keyboard">
            </div>
            <div><p>octave down: Y - octave up: X - loop start/stop: space</p></div>
            <div id="record-button" class="btn button">
                <i id="record-icon" class="fa fa-circle fa-2x fa-fw" aria-hidden="true"></i>
            </div>
        </div>
    </body>
</html>